.part-of-speech::first-letter {
  text-transform: uppercase;
}
.definition {
  margin-bottom: 8px;
}
.example {
  font-size: 12pt;
  opacity: 0.9;
}
.example::first-letter {
  text-transform: uppercase;
}
